{% extends 'base.html.twig' %}

{% block title %}Link{% endblock %}

{% block body %}
    <h1>Lien</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ link.id }}</td>
            </tr>
            <tr>
                <th>Lien_url</th>
                <td><a href="{{ link.lienUrl }}" target="_blank">{{ link.lienUrl }}</a></td>
            </tr>
            <tr>
                <th>Lien_titre</th>
                <td>{{ link.lienTitre }}</td>
            </tr>
            <tr>
                <th>Lien_desc</th>
                <td>{{ link.lienDesc }}</td>
            </tr>
            <tr>
                <th>Mots clés</th>
                <td>
                    {% if link.keywords|length > 0 %}
                        {% for keyword in link.keywords %}
                            <span class="badge badge-dark>
                                <a href="{{ path('app_keyword_show', {'id': keyword.id}) }}" class="text-white text-decoration-none">
                                    {{ keyword.name }}
                                </a>
                            </span>
                        {% endfor %}
                    {% else %}
                        <em>Aucun mot clé associé</em>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_link_index') }}" class="btn btn-secondary">Retour à la liste</a>

    <a href="{{ path('app_link_edit', {'id': link.id}) }}" class="btn btn-warning">Modifier</a>

    {{ include('link/_delete_form.html.twig') }}
{% endblock %}
